/.metadata/
*.class
/13 Encapsulation/PackageInNetbeans/nbproject/private/
/13 Encapsulation/PackageInNetbeans/build/
/13 Encapsulation/PackageInNetbeans/dist/
/19 JDBC/JDBCwithNetbeans/nbproject/private/
/19 JDBC/JDBCwithNetbeans/build/
/19 JDBC/JDBCwithNetbeans/dist/
/19 JDBC/DaoDesignPatternnetbeans/nbproject/private/
/Java5August